@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10%;
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

.texts {
    padding: 50px;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 30px;
}

section p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    padding-right: 60px;
    color: #fff;
    text-align: justify;
}

h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 6px 2px  hsla(0, 36%, 50%, 0.7);
    background-color: hsl(248, 32%, 49%);
}

.colorir {
    font-weight: 400;
    color: hsl(10, 44%, 86%);
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 420px;
    border-radius: 10px;
    padding: 26px;
    box-shadow: 0 7px 5px hsl(0, 51%, 59%);
    background-color: white;
}

input {
    width: 400px;
    height: 45px;
    padding: 15px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    border: 0.5px solid hsl(246, 25%, 77%);
}

.img1 {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26.7%;
    left: 85.5%;
}

.img2 {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 38.9%;
    left: 85.5%;
}

.img3 {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 51.3%;
    left: 85.5%;
}

.img4 {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 63.7%;
    left: 85.5%;
}

label {
    display: none;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 500;
    color: hsl(0, 100%, 74%);
    text-align: end;
    font-style: italic;
}

.botao {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    margin-top: 10px;
    color: #fff;
    background-color: hsl(154, 59%, 51%);
    cursor: pointer;
}

.rodape {
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    color: hsl(246, 25%, 77%);
}

input:focus {
    border: 1.5px solid rgb(86, 230, 86);
    outline: 0;
}

input.invalido::placeholder {
    color: hsl(0, 100%, 74%);
  }

input.valido::placeholder {
    color: #757575;
}